Q1. What is a database? Differentiate between SQL and NoSQL databases.

In [1]:
"A database is a structured collection of data that is organized and stored in a manner that enables efficient retrieval, updating, and management of that data. There are two main types of databases:"

"SQL databases (Relational Databases): These databases use Structured Query Language (SQL) for defining and manipulating the data. They are based on a tabular schema with rows and columns, and they typically use predefined schemas to determine the structure of the data. Examples include MySQL, PostgreSQL, SQLite, Oracle."

"NoSQL databases (Non-relational Databases): These databases are designed to handle unstructured or semi-structured data and are not bound by the tabular schema of SQL databases. They offer more flexibility and scalability, and they use different data models such as key-value pairs, document-oriented, column-oriented, or graph databases. Examples include MongoDB, Cassandra, Redis, Couchbase."

'NoSQL databases (Non-relational Databases): These databases are designed to handle unstructured or semi-structured data and are not bound by the tabular schema of SQL databases. They offer more flexibility and scalability, and they use different data models such as key-value pairs, document-oriented, column-oriented, or graph databases. Examples include MongoDB, Cassandra, Redis, Couchbase.'

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [2]:
'DDL stands for Data Definition Language. It is used to define the structure of the database schema such as creating, altering, or dropping database objects like tables, indexes, etc.'

'CREATE: It is used to create new database objects like tables, indexes, etc.'
'Example: CREATE TABLE students (id INT, name VARCHAR(50), age INT);'

'DROP: It is used to delete existing database objects.'
'Example: DROP TABLE students;'

'ALTER: It is used to modify the structure of an existing database object.'
'Example: ALTER TABLE students ADD COLUMN gender CHAR(1);'

'TRUNCATE: It is used to remove all records from a table, but it keeps the structure intact.'
'Example: TRUNCATE TABLE students;'

'Example: TRUNCATE TABLE students;'

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [5]:
'DML stands for Data Manipulation Language. It is used to manipulate the data within the database.'

"INSERT: It is used to insert new records into a table."
"Example: INSERT INTO students (id, name, age) VALUES (1, 'John', 25);"

'UPDATE: It is used to modify existing records in a table.'
'Example: UPDATE students SET age = 26 WHERE id = 1;'

'DELETE: It is used to delete records from a table.'
'Example: DELETE FROM students WHERE id = 1;'

'Example: DELETE FROM students WHERE id = 1;'

Q4. What is DQL? Explain SELECT with an example.

In [8]:
SELECT: ' It is used to fetch data from one or more tables.'
'Example: SELECT * FROM students WHERE age > 20;'
'This query selects all columns (*) from the students table where the age is greater than 20.'

'This query selects all columns (*) from the students table where the age is greater than 20.'

Q5. Explain Primary Key and Foreign Key.

In [9]:
"Primary Key: A primary key is a column or a set of columns that uniquely identifies each row in a table." "It ensures that there are no duplicate rows in the table. Typically, primary keys are implemented using unique indexes. Example: id column in a students table."

"Foreign Key: A foreign key is a column or a set of columns in a table that establishes a link between data in two tables." "It ensures referential integrity between the two related tables. The foreign key in one table refers to the primary key in another table. Example: student_id in a grades table, referencing the id column in the students table."

'Foreign Key: A foreign key is a column or a set of columns in a table that establishes a link between data in two tables.It ensures referential integrity between the two related tables. The foreign key in one table refers to the primary key in another table. Example: student_id in a grades table, referencing the id column in the students table.'

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [11]:
"mysql.connector.connect(): This method establishes a connection to the MySQL database server. You need to provide the host, user, password, and database name."
"mydb.cursor(): This method creates a cursor object, which is used to execute SQL queries."
"mycursor.execute(): This method is used to execute SQL queries. You pass the SQL query as a string parameter."
"mycursor.fetchall(): This method fetches all the rows of the result set returned by the SQL query."
"mydb.close(): This method closes the connection to the MySQL database server."

'mydb.close(): This method closes the connection to the MySQL database server.'

Q7. Give the order of execution of SQL clauses in an SQL query.

In [ ]:
FROM
WHERE
GROUP 
HAVING
SELECT
ORDER